<style>
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.form-gap {
		padding-top: 70px;
	}
</style>

<head>
	<link rel="shortcut icon" href="https://i.ibb.co/PQKCSj9/LNM-1.png" type="image/x-icon">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
</head>

<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<div class="form-gap"></div>
	<div class="container">
		<div class="text-center mb-2">
			<h1>LNM-services-Password Reset!</h1> <br>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3><i class="fa fa-lock fa-4x"></i></h3>
							<h2 class="text-center">Forgot Password?</h2>
							<p>You can reset your password here.</p>
							<div class="panel-body">
								{% if error %}
								<div class="alert alert-success" role="alert">
									{{error}}
								</div>
								{%endif%}
								<form action='{% url "forgot_password" %}' class="form" method="POST" id="register-form"
									role="form" autocomplete="off">
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i
													class="glyphicon glyphicon-envelope color-blue"></i></span>
											<input id="email" name="email" placeholder="email address"
												class="form-control" type="email" required>
										</div>
									</div>
									<div class="form-group">
										<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
											value="Reset Password" type="submit">
									</div>

									<input type="hidden" class="hide" name="token" id="token" value="">
								</form>
								<a href="{% url 'login'  %}" class="btn btn-lg btn-success btn-block">LogIn</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>