{% load static %}
<!doctype html>
<link rel="icon" href="{% static 'img/accounts_img/logo2.jpg' %}">
<html lang="en">
  <head>
  	<title>LNM-services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'login_register/css/style.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'login_register/images/lnmiit.jpg' %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">LNM-services</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Your account's email</h3>
		      	<form action='{% url "update_password" %}' class="Register-form" method="POST">
					{% csrf_token %}
					<div class="form-group">
	              		<input id="password1" type="password" class="form-control" placeholder="Password" name="pass1" required>
	              		<span toggle="#password1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>
					<div class="form-group">
	              		<input id="password2" type="password" class="form-control" placeholder="Re-type" name="pass2" required>
	              		<span toggle="#password2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
	            </div>
	          </form>
	          <div class="social d-flex text-center">
	          	    <a href="{% url 'login'  %}" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>Sign In </a>
                  <a href="{% url 'register'  %}" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Register </a>

	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
	{% for message in messages %}
		<p>{{message}}</p>
	{% endfor %}
	<script src="{% static 'login_register/js/jquery.min.js' %}"></script>
  	<script src="{% static 'login_register/js/popper.js' %}"></script>
  	<script src="{% static 'login_register/js/bootstrap.min.js' %}"></script>
  	<script src="{% static 'login_register/js/main.js' %}"></script>

	</body>
</html>

